body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: darkcyan;
    color: white;
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}